<div class="container text-white p-5 img-background">
    <div class="img-overlay px-lg-5 pt-lg-5 p-2">
      <h1>Te damos la bienvenida.</h1>
      <h2>Millones de películas por descubrir. Explora ya</h2>
      <form class="form-inline pt-lg-5">
        <div class="input-group">
          <div class="search-container d-flex bg-white w-100 rounded-5">
            <input
              type="text"
              class="form-control border border-0 rounded-5 p-3 no-focus"
              placeholder="Buscar una película..."
              aria-label="Search"
              aria-describedby="search"
            />
            <button
              type="button"
              class="btn border-0 rounded-5 w-15 fs-5 fw-bolder"
              data-mdb-ripple-init
              style="width: 8rem"
            >
              search
            </button>
          </div>
        </div>
      </form>
    </div>
</div>
