<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
  <span><a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" class="img-fluid" width="50px" alt="logo">ES.CINE</a></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white fw-bolder fs-6" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Películas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Popular</a>
          <a class="dropdown-item" href="#">En cartelera</a>
          <a class="dropdown-item" href="#">Próximamente</a>
          <a class="dropdown-item" href="#">Mejor Puntuadas</a>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <span><fa-icon
      [icon]="search"
      width="50px"
      style="color: #74C0FC"
    ></fa-icon></span>
  </div>
</div>
</nav>


