<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dune</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <img
              src="https://i.ebayimg.com/images/g/JFcAAOSwsuVlvUQO/s-l1200.webp"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col">
            <div class="row d-flex flex-column">
              <div class="col">
                <p>
                  Paul Atreides se une a Chani y a los Fremen mientras busca
                  venganza contra los conspiradores que destruyeron a su
                  familia. Paul se enfrenta a una elección entre el amor de su
                  vida y el destino del universo, y debe evitar un futuro
                  terrible.
                </p>
              </div>
              <div class="col">
                <div class="row d-flex flex-column">
                  <div class="col">
                    <p>youtube videos</p>
                  </div>
                  <div class="col">
                    <!--<iframe
                      width="560"
                      height="315"
                      src="https://www.youtube.com/embed/Way9Dexny3w"
                      frameborder="0"
                      allowfullscreen
                    ></iframe>
                    <iframe
                      width="560"
                      height="315"
                      src="https://www.youtube.com/embed/_YUzQa_1RCE"
                      frameborder="0"
                      allowfullscreen
                    ></iframe>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
