<div class="row">
@for (card of trends; track $index) {
  <div class="card border-0 position-relative bg-transparent" style="width: 10rem;">
    <img src="https://image.tmdb.org/t/p/w500{{card.poster_path}}" class="card-img" alt="...">
    <div class="circle d-flex justify-content-center align-items-center">
      <p class="text-white m-0">{{card.vote_average}}%</p>
    </div>
    <div class="py-4">
      <p class="fw-bolder">{{card.title}}</p>
      <p class="fw-light text-muted">{{card.release_date}}</p>
    </div>
  </div>
}
</div>

