<div class="flip-box">
  <div
    class="card flip-box-front text-center"
    [style.background-image]="
      'url(https://i.ebayimg.com/images/g/JFcAAOSwsuVlvUQO/s-l1200.webp)'
    "
  ></div>
  <div
    class="card flip-box-back text-center"
    [style.background-image]="
      'url(https://w0.peakpx.com/wallpaper/689/545/HD-wallpaper-light-black-blue-colors-dark-gradient-gray-green-plain-purple-solid.jpg)'
    "
  >
    <div class="overlay"></div>
    <div class="inner-back text-white">
      <h4>Dune</h4>
      <p>
        Paul Atreides se une a Chani y a los Fremen mientras busca venganza
        contra los conspiradores que destruyeron a su familia. Paul se enfrenta
        a una elección entre el amor de su vida y el destino del universo, y
        debe evitar un futuro terrible.
      </p>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Launch demo modal
        </button>
        
      </div>
    </div>
  </div>
</div>
<app-modal/>