<div class="flip-box">
  <div class="card flip-box-front text-center" [style.background-image]="'url(https://image.tmdb.org/t/p/w500' + movieData.poster_path + ')'" style="background-size:contain; background-repeat: no-repeat; background-position: center;background-size: 100% 100%;"></div>
  <div class="card flip-box-back text-center bg-black">
    <div class="overlay"></div>
    <div class="inner-back text-white w-100 d-flex align-items-center">
      <div class="row m-3 m-lg-2 w-100">
        <div class="col">
          <h1 class="text-start ps-2 pt-2 p-lg-2 pb-lg-0 fw-bold">{{movieData.title}}</h1>
        </div>
      </div>
      <div class="inner-back-content d-flex align-items-center">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col text-start p-lg-4 ">
            <p class="fs-lg-6 p-3 p-lg-0 m-lg-0">
              {{shortenDescription(movieData.overview)}}
            </p>
          </div>
        </div>
      </div>
      <div class="row h-100 w-100 py-2">
        <div class="col d-flex align-items-center justify-content-center">
          <div class="d-flex justify-content-between ">
            <button type="button" class="btn btn-primary w-100" data-toggle="modal" [attr.data-target]="'#modalIndex' + index">
              <span class="fs-3 fw-bold">Leer más</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal [movieData]="movieData" [index]="index"/>
